<% content_for :title, "Editing piece production" %>

<h1>Editing piece production</h1>

<%= render "form", piece_production: @piece_production %>

<br>

<div>
  <%= link_to "Show this piece production", @piece_production %> |
  <%= link_to "Back to piece productions", piece_productions_path %>
</div>
