<% content_for :title, "New piece production" %>

<h1>New piece production</h1>

<%= render "form", piece_production: @piece_production %>

<br>

<div>
  <%= link_to "Back to piece productions", piece_productions_path %>
</div>
